.btn,
button,
[type="submit"] {
  background-color: $brand-dark;
  font-weight: 700;
  text-decoration: none;
  padding: 6px $base-margin;
  line-height: 1em;
  border-radius: $radius;
  &:active,
  &:focus {
    outline: none;
  }
}
.btn--alt {
  background-color: $brand-one;
}
.alloy-cards {
  .btn {
  }
}
pre {
  background-color: $brand-light;
  color: $brand-dark;
  overflow: scroll;
  border: 1px solid $brand-dark;
  font-size: 12px;
  line-height: 1.4em;
}
