.btn,
button,
[type="submit"] {
  &:active,
  &:focus {
    outline: none;
  }
}
.btn,
[type="submit"] {
  position: relative;
  background-color: $brand-dark;
  // background-color: transparent;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 25px;
  line-height: 1em;
  border-radius: $radius;
  z-index: 1;
  overflow: hidden;
  transition: color;
  transition-duration: $base-transition;
  transition-timing-function: ease;

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 140%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    pointer-events: none;
    transform: rotate3d(0, 0, 1, 40deg) translate3d(0, -3em, 0);
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:before {
    background-color: lighten($brand-one, 10%);
  }
  &:after {
    background-color: lighten($brand-one, 0%);
  }
  &:hover {
    &:before,
    &:after {
      // transform: translate3d(0, 100%, 0);
      transform: rotate3d(0, 0, 1, 0) translate3d(0, 100%, 0);
    }
    &:after {
      transition-delay: 0.175s;
    }
  }
}
.btn--alt {
  background-color: $brand-one;
  &:before {
    background-color: lighten($brand-three, 10%);
  }
  &:after {
    background-color: lighten($brand-three, 0%);
  }
  &:hover {
    color: $brand-light !important;
  }
}
pre {
  background-color: $brand-light;
  color: $brand-dark;
  overflow: scroll;
  border: 1px solid $brand-dark;
  font-size: 12px;
  line-height: 1.4em;
}
