* {
  box-sizing: border-box;
}
// #__layout,
// html,
// body {
//   overflow-x: hidden;
// }
body {
  background-color: $brand-dark-lighten;
  margin: 0;
}
.main-inner {
  // overflow-x: hidden;
  // overflow-y: hidden;
  padding-top: $base-margin * 6;
  padding-bottom: $base-margin * 2;

  @include media-breakpoint-up(lg) {
    padding-top: $base-margin * 12;
    padding-bottom: $base-margin * 6;
  }
}
.alloy-layout-default {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
// #page- {
//   main {
//     padding-top: 0;
//   }
// }
//------------------------------------------------------//
// Container logic
//------------------------------------------------------//
section {
  padding-top: $base-margin * 3;
  padding-bottom: $base-margin * 3;
  @include media-breakpoint-up(lg) {
    padding-top: $base-margin * 6;
    padding-bottom: $base-margin * 6;
  }
}
[class*="container--"] {
  position: relative;

  > .inner {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
  }
}
.container--full {
  > .inner {
    max-width: 100%;
  }
}
.container--large {
  > .inner {
    max-width: 1600px;
  }
}
.container--medium {
  > .inner {
    max-width: 1100px;
  }
}
.container--small {
  > .inner {
    max-width: 770px;
  }
}
// .container--large,
// .container--medium,
// .container--small {
//   @include media-breakpoint-down(md) {
//     padding: $base-margin;
//   }
// }
// END Container logic -------------------------------------//

//------------------------------------------------------//
// Column logic
//------------------------------------------------------//
.container-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  // // Saidly this is not supported
  // > [data-column] {
  //   flex-grow: 1;
  //   max-width: attr(data-column);
  // }

  // > [class*="col-"] {
  > * {
    flex-grow: 1;
    @include media-breakpoint-up(lg) {
      max-width: 32%;
    }
    min-width: 300px;
    // width: 100%;
  }
  .col-60 {
    @include media-breakpoint-up(lg) {
      max-width: 60%;
    }
  }
  .col-40 {
    @include media-breakpoint-up(lg) {
      max-width: 40%;
    }
  }
}
// END Column logic -------------------------------------//
//------------------------------------------------------//
// Content logic
//------------------------------------------------------//
.flex-Content {
  margin-bottom: $base-margin * 4;
  @include media-breakpoint-down(md) {
    padding-left: $base-margin;
    padding-right: $base-margin;
  }
}
.alloy-intro-light {
  padding-top: $base-margin;
  padding-bottom: $base-margin;
  @include media-breakpoint-up(lg) {
    padding-top: $base-margin * 3;
    padding-bottom: $base-margin * 3;
  }
}
// END Content logic -------------------------------------//

//------------------------------------------------------//
// Footer
//------------------------------------------------------//
footer {
  background-color: $brand-light;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
  justify-content: space-between;
  // align-items: center;
  .alloy-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    img {
      margin-right: $base-margin;
    }
  }
  a {
    color: $brand-dark;
    text-decoration: none;
    // font-weight: 400;
  }
  #alloy-nav--footer {
    margin-left: auto;
    margin-right: auto;
    ul {
      flex-direction: column;
      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }
    }
  }
  .alloy-nav--privacy {
    background-color: $brand-three;
    padding: $base-margin;
    width: 500px;
    max-width: 100%;

    a {
      color: $brand-light;
      font-weight: 700;
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        a {
          padding: $base-margin;
          display: block;
        }
      }
    }
  }
}
// END Footer -------------------------------------//

//------------------------------------------------------//
// backgrounds
//------------------------------------------------------//
.background--light {
  background-color: $brand-light;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  strong,
  label,
  blockquote {
    color: $brand-dark;
  }
}
// END backgrounds -------------------------------------//
