.alloy-cards {
  > .inner {
    background-color: $brand-light;
    padding: $base-margin;
    border-radius: $radius;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span,
    strong,
    label,
    blockquote {
      color: $brand-dark;
    }
    .btn {
      color: inherit;
    }
  }
}
.alloy-cards--dark {
  > .inner {
    background-color: $brand-dark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span,
    strong,
    label,
    blockquote {
      color: $brand-light;
    }
  }
}
//------------------------------------------------------//
// 🏅 Diensten
//------------------------------------------------------//
.alloy-cards--diensten {
  padding-bottom: $base-margin * 4;
  padding-top: $base-margin * 4;
  @include media-breakpoint-up(lg) {
    padding-bottom: $base-margin * 8;
    padding-top: $base-margin * 8;
  }

  .alloy-title {
    font-size: 32px;
    @include media-breakpoint-down(sm) {
      margin-bottom: $base-margin * 4;
      padding-left: $base-margin * 2;
      padding-right: $base-margin * 2;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      font-size: 44px;
    }
  }
  .alloy-btn-group {
    text-align: right;
    padding-right: $base-margin * 2;
    margin-bottom: -$base-margin;
  }
  .alloy-content {
    p {
      margin: $base-margin;
      margin-bottom: $base-margin * 2;
      @include media-breakpoint-up(lg) {
        margin-top: $base-margin * 2;
        margin-bottom: $base-margin * 4;
        margin-left: 0;
        padding-right: $base-margin * 2;
      }
    }
  }
  .alloy-illustration {
    order: -1;
    margin-top: -40px;
    @include media-breakpoint-down(sm) {
      margin-bottom: $base-margin;
    }
    @include media-breakpoint-up(lg) {
      margin-top: -200px;
      padding-right: $base-margin;
    }
    svg {
      vertical-align: bottom;
      cursor: pointer;
    }
  }
  //------------------------------------------------------//
  // Custom Grid/layout logic
  //------------------------------------------------------//
  > .inner {
    padding: 0;
  }
  .container-col {
    @include media-breakpoint-up(lg) {
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  // END Custom Grid/layout logic -------------------------------------//
}
// Single 🏅 Diensten
#single-dienst {
  .container--medium {
    position: relative;
  }
  .background-clipped {
    background-color: $brand-light;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
  }
  .alloy-illustration {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
// END 🏅 Diensten -------------------------------------//

//------------------------------------------------------//
// 🔀 Fases
//------------------------------------------------------//
.container-type--fases {
  // padding-bottom: $base-margin * 6;
  // @include media-breakpoint-up(lg) {
  //   padding-bottom: $base-margin * 12;
  // }
  // > .inner {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-start;
  //   > * {
  //     max-width: 32%;
  //     width: 100%;
  //   }
  // }
  svg {
    width: 100%;
  }
  .flex-FasesItem {
    text-align: center;
  }
}
// END 🔀 Fases  -------------------------------------//

//------------------------------------------------------//
// Call to action
//------------------------------------------------------//
.flex-CallToAction {
  display: flex;
  justify-content: flex-end;
  padding-bottom: $base-margin * 2;
  @include media-breakpoint-up(lg) {
    padding-bottom: $base-margin * 6;
  }
  .alloy-cards {
    width: 100%;
    @include media-breakpoint-up(md) {
      max-width: 85vw;
    }
    @include media-breakpoint-up(lg) {
      max-width: 65vw;
    }
    > .inner {
      border-radius: $radius;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        overflow: visible;
        border-radius: $radius 0 0 $radius;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      // flex-direction: column;
      @include media-breakpoint-up(md) {
        // flex-direction: row;
        justify-content: flex-start;
      }
      // justify-content: center;
      // align-items: center;
      position: relative;
      padding: $base-margin * 2;
      > * {
        position: relative;
        min-height: 100%;
      }
    }
  }
  .alloy-image {
    order: 2;
    @include media-breakpoint-up(md) {
      order: 0;
    }
  }
  .alloy-logo {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding-right: $base-margin * 2;

    @include media-breakpoint-down(xs) {
      transform: translateX(55px);
    }
    @include media-breakpoint-up(md) {
      width: 200px;

      transform: translateX(-100px);
    }
    @include media-breakpoint-up(lg) {
      width: 250px;
    }
  }
  .alloy-text {
    padding-top: $base-margin * 2;
    padding-bottom: $base-margin * 2;
  }
  .alloy-btn-group {
    margin-top: $base-margin;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $base-margin;
  }
  p,
  a,
  span,
  strong,
  label,
  blockquote {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
  h2 {
    @include media-breakpoint-up(sm) {
      font-size: 34px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }
}
// END Call to action -------------------------------------//

//------------------------------------------------------//
// 👨‍💻 Team
//------------------------------------------------------//
.flex-Team {
  text-align: center;
}
.container-type--team {
  position: relative;
  color: $brand-dark;
  padding-bottom: $base-margin * 4;

  .background-clipped {
    background-color: $brand-light;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include media-breakpoint-up(lg) {
      clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
    }
  }
}
.alloy-item--team {
  text-align: center;
  .alloy-image {
    padding: $base-margin * 2;
    img {
      max-width: 100%;
      // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      clip-path: polygon(100% 50%, 85% 15%, 50% 0%, 15% 15%, 0% 50%, 15% 85%, 50% 100%, 85% 85%);
      filter: grayscale(1);
    }
  }
}
// END 👨‍💻 Team -------------------------------------//
//------------------------------------------------------//
// 🧰 Toolbox & ⭐️ Diensten Other
//------------------------------------------------------//
.container-type--DienstenOther,
.container-type--toolbox {
  > .inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-column-gap: $base-margin;
    // grid-row-gap: $base-margin;
    @include media-breakpoint-up(lg) {
      grid-column-gap: $base-margin * 2;
      // grid-row-gap: $base-margin * 2;
    }
  }
  .item {
    margin-bottom: $base-margin;
    @include media-breakpoint-up(lg) {
      margin-bottom: $base-margin * 2;
    }
  }
  .alloy-item {
    position: relative;
    height: 100%;

    > .inner {
      @include media-breakpoint-up(lg) {
        padding: $base-margin * 2;
      }
      // padding-bottom: $base-margin * 4;
      height: 100%;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        object-fit: contain;
        top: 0;
        right: -50px;
        max-width: 150px;
        filter: grayscale(1);
        opacity: 0.2;
      }
    }
  }
}
// END 🧰 Toolbox -------------------------------------//
//------------------------------------------------------//
// 🗺 Locaties
//------------------------------------------------------//
.container-type--locaties {
  > .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }
  .alloy-item--locatie {
    margin-bottom: $base-margin;
    height: 300px;
    @include media-breakpoint-up(lg) {
      height: auto;
    }
    @include media-breakpoint-up(lg) {
      width: 32%;
    }
    position: relative;
    overflow: hidden;
    > .inner {
      padding: 0;
    }
    img {
      max-width: 100%;
      display: block;
      object-fit: cover;
    }
    .alloy-content {
      position: absolute;
      bottom: $base-margin * 2;
      left: 0;
      margin-bottom: 0;
      font-size: 30px;
      line-height: 1.4em;
      text-align: center;
      padding: 0 $base-margin * 3;
    }
  }
}
// END 🗺 Locaties -------------------------------------//
