body {
  font-family: $font-base;
  color: $brand-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6em;
  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}
@include media-breakpoint-up(md) {
  body {
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: $base-margin;
}
h1 {
  font-size: 30px;
  line-height: 1.4em;
}
h2 {
  line-height: 1.3em;
  margin-bottom: $base-margin;
  @include media-breakpoint-up(lg) {
    margin-bottom: $base-margin*3;
  }
}
.intro {
  .alloy-title {
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
}
footer,
header {
  h1,
  h2 {
  }
  h1 {
  }
  h2 {
  }
}
.centered {
  text-align: center;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
p {
}
a {
  color: $brand-light;

}